* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.option-view {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 100%;
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.speaker-view, .zoom-in-out {
    padding: 2px;
    background-color: grey;
    border-radius: 5px;
}

/* corpo della pagina */
main {
    padding-top: 80px;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: black;
}

.container-main {
    margin: 0 80px;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row .col-little-main {
    margin: 5px;
}

.users {
    position: relative;
}

.users img {
    width: 225px;
    height: 130px;
}

.user-name {
    padding: 4px;
    color: white;
    background-color: #00000082;
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* fondo della pagina */
footer {
    height: 100px;
    background-color: blue;
}