* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.option-view {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.speaker-view, .zoom-in-out {
    padding: 2px;
    background-color: grey;
}

main {
    padding-top: 80px;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.container-main {
    margin: 0 80px;
}

.row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .row .col-little-main {
    display: inline-block;
} */

.users {
    position: relative;
}

.users img {
    width: 230px;
    height: auto;
}

.user-name {
    padding: 4px;
    color: white;
    background-color: #80808057;
    position: absolute;
    bottom: 4px;
    left: 0;
}